/* IT23149380 - P.G.T.N.D.Gallage */

@charset "UTF-8";

	body {
	    font-family: Arial, sans-serif;
	    background-color: #f4f4f4;
	    margin: 0;
	    padding: 20px;
	}
	
	form {
	    background-color: white;
	    max-width: 500px;
	    margin: 0 auto;
	    padding: 20px;
	    border-radius: 8px;
	    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	}
	
	table {
	    width: 100%;
	    margin-bottom: 20px;
	}
	
	table td {
	    padding: 10px;
	    vertical-align: middle;
	}
	
	table td:first-child {
	    text-align: right;
	    font-weight: bold;
	}
	
	input[type="text"] {
	    width: 100%;
	    padding: 8px;
	    margin-top: 5px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	
	input[type="submit"] {
	    background-color: #ec0f4b;
	    color: white;
	    padding: 10px 20px;
	    border: none;
	    border-radius: 5px;
	    cursor: pointer;
	    font-size: 16px;
	    width: 100%;
	}
	
	input[type="submit"]:hover {
	    background-color: #c81e2b;
	}
	
	@media (max-width: 600px) {
	    form {
	        padding: 15px;
	    }
	
	    table td {
	      
	        width: 100%;
	        text-align: left;
	    }
	
	    table td:first-child {
	        text-align: left;
	    }
	
	    input[type="text"] {
	        width: 100%;
	    }
	}
	
	.header-part{
		height: 20%;
	}
	
	.body-part{
		height: 60%;
	}
	.footer-part{
		height: 20%;
	}
		
	      